/* ------------------------------ BODY ------------------------------ */
body{
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #F8F8F8;
  font-family: Georgia, Times;
  zoom: 0.8;

}

/* ------------------------------ BOXES ------------------------------ */
.greenbox{
  height: 280px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

.greenbox_small {
  height: 180px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;  
}

.greenbox_mini {
  height: 70px;
  width: 30%;
  background-color: #244D15;
  color: #F8F8F8;
  margin-top: 5%;
  left: 0;
  }

.whitebox{
  background-color: #F8F8F8;
  color: #244D15;
  }


/* ------------------------------ BILDER ------------------------------ */

.backgroundimages{
  width: 100%;
  }

#omoss_bilde1 img{
  width:30%;
  height:20%;
  float:right;
  border-style: solid;
  border-width: 2px;
  border-color: #205F08;
  border-radius: 10px;
  position: relative;
  top:100px;
  margin-right: 5%;
  }

#omoss_bilde2 img{
  margin-top: 3%;
  margin-bottom: 3%;
  width:22%;
  height:18%;
  border-style: solid;
  border-width: 2px;
  border-color: #205F08;
  border-radius: 10px;
  position: relative;
  }


/* ------------------------------ TEXT ------------------------------ */
div.textdiv h3 {
  padding-top: 10%;
   
}

div.textdiv{
  font-size: 22px;
  margin-left: 30%;
  padding-left: 5%;
  position: relative;
  width: 50%;
  text-align:left;
  border-left: thick solid #F8F8F8;
  margin-top: 4%;
  padding-top: 1px;
  height: 60%;
  }  

div.leftline_text{
  font-size: 50px;
  text-align: left;
  margin-left: 10%;
  margin-top: 4%;
  float: left;
  }

.greenbox_mini h2 {
  padding-top: 5%;
  }

.white_omoss{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
  float: left;
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }

.white_mini{
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: left;
  float: left;
  width: 40%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }

.greenbox_small h3 {
  font-size: 50px;
  padding-top: 1%;  
  }

#thflor_txt1 {
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 5%;
  color: #205F08;
  font-size: 24px;
  }

#thflor_txt2 h4 {
  margin-top: 4%;
  margin-left: 30%;
  color: #205F08;
  font-size: 24px;
  float: left;
  margin-bottom: 8%;
  }

#thflor_txt2 p {
  font-size: 20px;
  background-color: #245711;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  margin-left: 57%;
  margin-bottom: 5%;
  height: 85px;
  width: 150px;
  padding-top: 65px;
  }



/* ------------------------------ NAVIGASJONS-BAR ------------------------------ */
#nav {
  list-style-type: none;
  margin: 0;
  padding: 5px;
  overflow: hidden;
  background-color: #244D15;
  text-align: center;
  font-family: "Trebuchet MS", Arial
}

#nav li {
  float: left;
  background-color: #244D15;
  margin-left: 7%;
  
}

#nav li a,
.dropbtn {
  display: block;
  padding: 10px 16px;
  text-decoration: none;
  color: #F8F8F8;
  font-size: 20px;
}

#nav li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

#nav li.dropdown {
  display: inline-block;
}

#nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #244D15;
  min-width: 160px;

}

#nav .dropdown-content a {
  color: #F8F8F8;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: ;
}

#nav .dropdown-content a:hover {
 //kan bli nyttig senere
}

#nav .show {
  display: block;
}

  

/* ------------------------------ LOGO ------------------------------ */
#logo{
  width: 60%;

}


/* ------------------------------ BUTTONS ------------------------------ */
button {
  font-size: 20px;
  background-color: #245711;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  }

button:hover {
  background-color: #F8F8F8;
  border-color: #244D15;
  color: #244D15;   
  }

div.buttondiv button{
  position:relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 8%;
  }

/* ------------------------------ VIDEO ------------------------------ */
#vid1 {
  margin-right: 4%;
  margin-bottom: 6%;
  margin-top: 3%;
 }


/* ----- KART ----- */
#kart1 {
  float: left;
  margin-left: 10%;
  margin-top: 5%;
  margin-bottom: 7%;
  }

#kart2 {
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 50%;
  margin-bottom: 10%;
  border-left: thick solid #244D15;
  height: 60%;
  padding-left: 9%;
  }

#kart1 p, #kart2 p {
  font-size: 20px;
  color: #244D15; 
  margin: 2%;
  }

#kart1 h3, #kart2 h3 {
  font-size: 22px;
  color: #244D15; 
  margin-top: 8%;
  text-decoration: underline;
  }


/* ------------------------------ ÅPNINGSTIDER ------------------------------ */
.open {
    background-color: #245711;
    color: white;
    padding: 16px;
    font-size: 22px;
    border: none;
    cursor: pointer;
    height: 90px;
    border-radius: 0%;
}

.open:hover, .open:focus {
    background-color: #3e8e41;
}

.openTimeDiv {
    position: relative;
    display: inline-block;
    margin-right: 25%;
    margin-top: 2%;
}

.open-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.open-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.openTimeDiv a:hover {background-color: #f1f1f1}

.show {display:block;}


/* ------------------------------ FOOTER ------------------------------ */
#footer{
  height: 200px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
  font-family: "Trebuchet MS", Arial
}
#logofooterdiv{
  width: 60%;
  padding: 0;
  margin: 0;
  position: absolute;
}
#footerlogo{
  width: 35%;
  float: left;
}

@media screen and (max-device-aspect-ratio:16/10){
  #logofooterdiv{
    width: 60%;
    height: 156px;
    padding: 0;
    margin: 0;
    position: absolute;
  }
  #footerlogo{
    width: 50%;
    float: left;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

#map1{
  left:50%;
  width: 20%;
  height: 156px;
  position: absolute;
  margin-top: 40px;
  text-align: left;
}

#map2{
  left:60%;
  width: 20%;
  height: 136px;
  position: absolute;
  border-left: thick solid #F8F8F8;
  margin-top: 40px;
  text-align: left;
}
#map2 ul{
  padding-left: 60px;
}
#map2 li ul{
  padding-left: 20px;
}
#map3{
  left:80%;
  width: 19%;
  height: 136px;
  position: absolute;
  margin-top: 40px;
  text-align: left;
  border-left: thick solid #F8F8F8;
}

.footerlist ul{
  margin: 0
}

.footerlist li{
  list-style: none;
}

.footerlist li a{
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: #F8F8F8;
      font-size: 18px;
}
.footerlist li a:hover{
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

#produkter{
  display: block;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  text-decoration: underline;
  color: #F8F8F8;
  font-size: 18px;
}

#map2 ul li ul li{
  list-style: square;
}


.white_galleri{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
  float: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 2%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }

div.galleri {
    margin: 2%;
    float: left;
    width: 180px;
}


div.galleri img {
    width: 100%;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #205F08;
}

div.galleri_rotert {
    margin: 2%;
    float: left;
    width: 180px;
}

div.galleri_rotert img {
    width: 100%;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #205F08;
    -webkit-transform:rotate(180deg);
    transform:rotate(180deg);
}

/* ------------------------------ Produktbilder ------------------------------ */

div.prodimg {
    border: 1px solid #ccc;

}

div.prodimg:hover {
    border: 1px solid #777;
}

div.prodimg img {
    width: 100%;
    height: 350px;

}

div.desc {
    padding: 15px;
    text-align: center;
    font-size: 22px;;
}

* {
    box-sizing: border-box;
}



.responsive {
    padding: 0 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px){
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px){
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#produkter_overskrift {
    text-align: left;
    font-size: 50px;
  }

div.bildetekst {
    padding: 15px;
    text-align: center;
  }

.background_slideshow{
  height:612px;
  width: 100%;
  background-color: #001a00;
  border-top: solid;
  border-bottom: solid;
  border-width: 5px 0px 10px 0px;
}

#div_slideshow{
  width:850px;
  margin-left:22%;
  margin-right: 25%;
}

/* ------------------------------ Image Resize ------------------------------ */
#fullsidediv{
    opacity:0.9;
    background-color:#000;
    position:fixed;
    width:100%;
    height:100%;
    top:0px;
    left:0px;
    z-index:1000;
    display: none;
}


/* ------------------------------ FACEBOOK LINK ------------------------------ */
#fb {
  margin: auto;
  width: 50%;
  }

#fb iframe {
  width: 500px;
  height: 600px;
  margin-top: 2%;
  margin-bottom: 5%;
  }


