
body{
  width: 100%;
  margin: 0;
}

.greenbox{
  height: 200px;
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
}

a{
  color: #F8F8F8;
  font-size: 25px;
}

.whitebox{
  background-color: #F8F8F8;
  color: #205F08;
}

.backgroundimages{
  width: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 20px;
    overflow: hidden;
    background-color: #205F08;
    text-align: center;
}

#nav li {
    float: left;
    margin-left:8%;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

#logo{
  width:100%;
}

button {
  height: 150px;
  width: 150px;
  font-size: 16px;
  border-radius: 50%;
  background-color: #205F08;
  border-color: #F8F8F8;
  color: #F8F8F8;
  text-align: center;
  }

div.buttondiv{
  left: 0;
  position:relative;
  width: 0%;
  height: 100%;
  float: left;
  margin-top: 1em;
  margin-left: 1em;
}

div.textdiv{
  left: 30%;
  position: relative;
  width: 70%;
  height: 100%;
  text-align:left;
}
