
body{
  width: 100%;
  margin: 0;
  text-align: center;
}

.greenbox{
  height: 280px;
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

.whitebox{
  background-color: #F8F8F8;
  color: #205F08;
}

.backgroundimages{
  width: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #205F08;
    text-align: center;
}

#nav li {
    float: left;
    margin-left:7%;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
  }

#nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 1px 1px black;
}
  
#logo{
  width: 60%;

}

button {
  font-size: 20px;
  background-color: #286F0D;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  }

button:hover {
  background-color: #F8F8F8;
  border-color: #205F08;
  color: #205F08;
  
}


div.buttondiv button{
  position:relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
}

div.textdiv{
  font-size: 22px;
  margin-left: 30%;
  padding-left: 5%;
  position: relative;
  width: 50%;
  text-align:left;
  border-left: thick solid #F8F8F8;
  margin-top: 5%;
}

div.leftline_text{
  position: relative;
  left: -500px;
  margin-left: 100px;
  font-size: 55px;
}

#footer{
  height: 220px;
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

#map1{
  left:70%;
  width: 20%;
  height: 176px;
  position: absolute;
  border-left: thick solid #F8F8F8;
  margin-top: 20px;
}

#map2{
  left:50%;
  width: 20%;
  height: 176px;
  position: absolute;
  border-left: thick solid #F8F8F8;
  margin-top: 20px;
}

#logofooter{
  width: 60%;
  height: 220px;
  padding: 0;
  margin: 0;
  position: absolute;
}
#map2 li{
  list-style: none;
}
#map1 li{
  list-style: none;
}
#map2 li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
  }

#map2 li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px black;
}
#map1 li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
  }

#map1 li a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px black;
}
