
body{
  width: 100%;
  margin: 0;
}

.greenbox{
  height: 220px;
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

a{
  color: #F8F8F8;
  font-size: 25px;
}

.whitebox{
  background-color: #F8F8F8;
  color: #205F08;
}

.backgroundimages{
  width: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #205F08;
    text-align: center;
}

#nav li {
    float: left;
    margin-left:8%;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-style:
  }

#logo{
  width:80%;
  margin-left: 10%;
  text-align: center;
}

button {
  height: 170px;
  width: 170px;
  font-size: 20px;
  background-color: #2B790E;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  }

button:hover {
  background-color: #F8F8F8;
  border-color: #2B790E;
  color: #205F08;
  
}

div.buttondiv{
  left: 0;
  position:relative;
  width: 0%;
  height: 100%;
  float: left;
  margin-top: 1.5em;
  margin-left: 8em;
}

div.textdiv{
  font-size: 22px;
  left: 35%;
  position: relative;
  width: 50%;
  height: 80%;
  text-align:left;
  border-left: thick solid #F8F8F8;

}
