
body{
  width: 100%;
  margin: 0;
}

.greenbox{
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
}

a{
  color: #F8F8F8;
  font-size: 25px;
}

.whitebox{
  background-color: #F8F8F8;
  color: #205F08;
}

.backgroundimages{
  width: 100%;
}

#logo{
  width:100%;
}

#menubox{
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
}

#divbutton {
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

#divvareprod {
  width: 60%;
  margin-left: 5%;
  margin-right: 5%;
}

button {
  height: 100px;
  width: 100px;
  font-size: 16px;
  border-radius: 50%;
  background-color: #205F08;
  border-color: #F8F8F8;
  color: #F8F8F8;
  text-align: center;
  }
