/* ------ BODY ------ */
body{
  width: 100%;
  margin: 0;
  text-align: center;
  background-color: #F8F8F8;
  font-family: Georgia, Times;
  zoom: 0.8;

}

/* ----- BOXES ------ */
.greenbox{
  height: 280px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

.greenbox_small {
  height: 180px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;  
}

.greenbox_mini {
  height: 70px;
  width: 30%;
  background-color: #244D15;
  color: #F8F8F8;
  margin-top: 5%;
  left: 0;
  }

.whitebox{
  background-color: #F8F8F8;
  color: #244D15;
  }


/* ----- BILDER ----- */
.backgroundimages{
  width: 100%;
}

#omoss_bilde1 img{
  width:30%;
  height:20%;
  float:right;
  border-style: solid;
  border-width: 2px;
  border-color: #205F08;
  border-radius: 10px;
  margin-bottom: -250px;
  position: relative;
  bottom:380px;
  margin-right: 5%;
  }

#omoss_bilde2 img{
  margin-top: 3%;
  margin-bottom: 3%;
  width:22%;
  height:18%;
  border-style: solid;
  border-width: 2px;
  border-color: #205F08;
  border-radius: 10px;
  position: relative;
  }


/* ----- TEXT ----- */
div.textdiv h3 {
  padding-top: 10%;
   
}

div.textdiv{
  font-size: 22px;
  margin-left: 30%;
  padding-left: 5%;
  position: relative;
  width: 50%;
  text-align:left;
  border-left: thick solid #F8F8F8;
  margin-top: 4%;
  padding-top: 1px;
  height: 60%;
  }  

div.leftline_text{
  font-size: 50px;
  text-align: left;
  margin-left: 10%;
  margin-top: 4%;
  float: left;
  }

.greenbox_mini h2 {
  padding-top: 6%;
  }

.white_omoss{
  margin-top: 5%;
  text-align: left;
  float: left;
  width: 55%;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }

.white_mini{
  margin-top: 2%;
  margin-left: 4%;
  margin-right: 4%;
  margin-bottom: 5%;
  text-align: left;
  float: left;
  width: 40%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }


/* ----- NAVIGASJONS-BAR ----- */
#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #244D15;
    text-align: center;
    font-family: "Trebuchet MS", Arial
}

#nav li {
    float: left;
    margin-left:7%;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
  }

#nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 1px 1px black;
}
  

/* ----- LOGO ----- */
#logo{
  width: 60%;

}


/* ----- BUTTONS ----- */
button {
  font-size: 20px;
  background-color: #245711;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  }

button:hover {
  background-color: #F8F8F8;
  border-color: #244D15;
  color: #244D15;   
  }

div.buttondiv button{
  position:relative;
  width: 200px;
  height: 200px;
  float: left;
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  }

/* ----- VIDEO ----- */

#vid1 {
 margin-right: 4% 
 }


/* ----- KART ----- */

#kart1 {
  float: left;
  margin-left: 15%;
  margin-top: 5%;
  margin-bottom: 10%;
  }

#kart2 {
  margin-right: 10%;
  margin-top: 5%;
  margin-left: 50%;
  margin-bottom: 10%;
  border-left: thick solid #244D15;
  height: 60%;

  }

#kart1 p, #kart2 p {
 font-size: 18px;
 color: 244D15; 
}

#kart1 h3, #kart2 h3 {
 font-size: 20px;
 color: 244D15; 
}

/* ----- FOOTER ----- */
#footer{
  height: 220px;
  width: 100%;
  background-color: #244D15;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

#map1{
  left:50%;
  width: 20%;
  height: 156px;
  position: absolute;
  margin-top: 40px;
  text-align: left;
}

#map2{
  left:60%;
  width: 20%;
  height: 156px;
  position: absolute;
  border-left: thick solid #F8F8F8;
  margin-top: 40px;
  text-align: left;
}
#map2 ul{
  padding-left: 60px;
}
#map2 li ul{
  padding-left: 20px;
}
#map3{
  left:80%;
  width: 19%;
  height: 156px;
  position: absolute;
  margin-top: 40px;
  text-align: left;
  border-left: thick solid #F8F8F8;
}

#logofooterdiv{
  width: 60%;
  height: 156px;
  padding: 0;
  margin: 0;
  position: absolute;
}
#footerlogo{
  padding-top: 20px;
  width: 60%;
  float: left;
  margin-bottom: 0;
  padding-bottom: 0;
}

.footerlist ul{
  margin: 0
}

.footerlist li{
  list-style: none;
}

.footerlist li a{
      display: block;
      padding: 10px 16px;
      text-decoration: none;
      color: #F8F8F8;
      font-size: 18px;
}
.footerlist li a:hover{
  text-decoration: underline;
  text-shadow: 1px 1px black;
}

#produkter{
  display: block;
  padding-bottom: 11px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 12px;
  text-decoration: underline;
  color: #F8F8F8;
  font-size: 18px;
}

#map2 ul li ul li{
  list-style: square;
}

.white_galleri{
  margin-top: 5%;
  margin-bottom: 5%;
  text-align: left;
  float: left;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
  font-size: 22px;
  color: #205F08;
  height:80%;
  }

div.galleri {
    margin: 3%;
    float: left;
    width: 180px;
}


div.galleri img {
    width: 100%;
    height: 150px;
    border-style: solid;
    border-width: 2px;
    border-radius: 50px;
    border-color: #205F08;
}

div.bildetekst {
    padding: 15px;
    text-align: center;
}

