
body{
  width: 100%;
  margin: 0;
  text-align: center;
}

.greenbox{
  height: 280px;
  width: 100%;
  background-color: #205F08;
  color: #F8F8F8;
  display:inline-block;
  margin-top: -0.3em;
  display:table;
}

.whitebox{
  background-color: #F8F8F8;
  color: #205F08;
}

.backgroundimages{
  width: 100%;
}

#nav {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    background-color: #205F08;
    text-align: center;
}

#nav li {
    float: left;
    margin-left:7%;
}

#nav li a {
    display: block;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
    color: #F8F8F8;
    font-size: 20px;
  }

#nav li a:hover {
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 1px 1px black;
}
  
#logo{
  width: 60%;

}

button {
  height: 170px;
  width: 170px;
  font-size: 20px;
  background-color: #286F0D;
  border-radius: 50%;
  border-color: #F8F8F8;
  border-style: solid;
  color: #F8F8F8;
  text-align: center;
  cursor: pointer;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  transition-duration: 0.4s;
  }

button:hover {
  background-color: #F8F8F8;
  border-color: #205F08;
  color: #205F08;
  
}

div.buttondiv{
  left: 0;
  position:relative;
  width: 0%;
  height: 100%;
  float: left;
  margin-top: 5%;
  margin-left: 8em;
  border-right: thick solid #F8F8F8;
}

div.textdiv{
  font-size: 22px;
  left: 35%;
  position: relative;
  width: 50%;
  height: 80%;
  text-align:left;
  border-left: thick solid #F8F8F8;
  margin-top: 5%;
}

.divider {
  float: left;
  position: relative;
  width: 0;
  height: 40px;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc; 
}

div.leftline_text{
  position: relative;
  left: -500px;
  margin-left: 100px;
  font-size: 55px;
}
