<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>P1 Project Requirements</title>
    <style>
        html {
            width: 960px;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            background-color: #f2f2f2;
        }
        h1 {
            font-family: "Trebuchet MS", Helvetica, sans-serif; "Times New Roman", Times, serif;
            color:black;
            text-align: center;
        }
        h2 {
            font-family: "Trebuchet MS", Helvetica, sans-serif; "Times New Roman", Times, serif;
            color:black;
            text-align: center;
        }
        h3 {
            font-family: "Trebuchet MS", Helvetica, sans-serif; "Times New Roman", Times, serif;
            text-align: center;
        }
        h6 {
            font-family: "Trebuchet MS", Helvetica, sans-serif; "Times New Roman", Times, serif;
            color: darkgrey;
            text-align: center;
        }
        p {
            font-family: "Georgia", serif; "Verdana";
            line-height: 140%;
            margin-left: 10%;
            margin-right: 10%;
        }
        hr {
            width: 100%;
        }
        img {
            width: 60%;
            margin-left: 20%;
        }
        ol > ol > li {
            padding: 1%;
        }
        li {
            padding: 2%;
            margin-left: 10%;
            margin-right: 10%;
        }
        .clientname {
            font-family: "Trebuchet MS", Helvetica, sans-serif; "Times New Roman", Times, serif;
            text-align: center;
            padding-bottom: 1px;
        }
        .title {
            font-weight: bold;
        }
        #ulpreferences {
            line-height: 150%;
        }
        #foot {
            text-align: left;
        }
    </style>
</head>

<body>

<header>
    <h1>P3 Project Changes</h1>
    <h3>Bjørn, Eirik, Erling, Even og Halvard</h3>
    <h6>November 10, 2016</h6>
</header>

<main>
    <section id="ourclient">
        <br>
        <hr>
        <h2>How each of the team members fulfilled their minimum requirements.</h2>

        <div class="clientname">

        </div>

        <p> KRachel fulfilled her JavaScript requirements with a user-defined function on intro.html and rollovers on
            members.html. Tom validated form inputs on orform.html, and implemented the pull-down menu for each page
        </p>

        <br>
    </section>

    <br>
    <hr>

    <section id=purpose>
        <h2> what happend??? </h2>
        <p> Explicitly state (since it may have changed since the design document), which person worked
            on which files, including CSS and JavaScript files, and who produced the artwork (banner and
            button design, etc.).

        </p>
    </section>

    <br>
    <hr>

    <section id="audience">
        <h2> Modularity requrement </h2>

        <p> Indicate how the modularity requirement was handled (where and how either Server Side
            Includes (SSI) or JavaScript were used for modularity, and who was responsible for the
            implementation).
        </p>

    </section>


    <br>
</main>

<footer>
    <h6 id="foot"> <i>Bjørn, Eirik, Erling, Even og Halvard<i> </h6>
</footer>


</body>
</html>
