html {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    background-color: #f2f2f2;
}

h1 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #2f4f4f;
    text-align: center;
}

h2 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #2f4f4f;
    text-align: center;
}

h3 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
}


h6 {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: darkgrey;
    text-align: center;
}


p {
    font-family: "Georgia", serif;
    line-height: 140%;
    margin-left: 10%;
    margin-right: 10%;
}

hr {
    width: 100%;
}

img {
    width: 100%;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
}

ol > ol > li {
    padding: 1%;
}

li {
    padding: 2%;
    margin-right: 10%;
}

th, td {
    border: 1px solid black;
    line-height: 150%;
}
td:last-child{
    width: 6%;
}

table {
    width: 960px;
}

#strukturbilde {
    width: 600px;
    height: 400px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#produkt1 {
    float:left;
    margin-left:15%;
}

.clientname {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align: center;
    padding-bottom: 1px;
}

.title {
    font-weight: bold;
}

#ulpreferences {
    line-height: 150%;
}

#foot {
    text-align: left;
}
